section.delivery
  .container
    .delivery__wrapper
      h3.title.title--xs.delivery__title Доставка
      form.delivery-form
        fieldset.delivery-form__wrapper
          input.input(type="text" placeholder="Имя" name="name")
          input.input(type="text" placeholder="Страна" name="country")
          input.input(type="text" placeholder="Фамилия" name="lastname")
          input.input(type="text" placeholder="Город" name="city")
          input.input(type="tel" placeholder="Телефон" name="tel")
          input.input(type="text" placeholder="Улица, дом" name="street")
          input.input(type="email" placeholder="Email" name="email")
          input.input(type="text" placeholder="Почтовый индекс" name="postal-code")
          input.input(type="text" placeholder="Название компании (необязательно)" name="company-name")
          input.input(type="text" placeholder="Комментарий к заказу (необязательно)" name="comment")
        input.btn.btn-reset.btn--secondary.submit(type="submit" value="Рассчитать доставку")
        
