section.offers
  .container
    h3.title.title--xs.offers__title Персональные акции
    .swiper.offers-slider
      .swiper-wrapper.offers__wrapper
        .swiper-slide.offer
          h3.title.title--xs.offer__title Купи 3 пачки кофе и&nbsp;получи 4-ую в подарок!
          p.offer__term
            | Срок акции: до 
            time(datetime="2021-08-31") 31.08.2021
        .swiper-slide.offer
          h3.title.title--xs.offer__title Купи 3 пачки кофе и&nbsp;получи 4-ую в подарок!
          p.offer__term
            | Срок акции: до 
            time(datetime="2021-08-31") 31.08.2021
        .swiper-slide.offer
          h3.title.title--xs.offer__title Купи 3 пачки кофе и&nbsp;получи 4-ую в подарок!
          p.offer__term
            | Срок акции: до 
            time(datetime="2021-08-31") 31.08.2021
        .swiper-slide.offer
          h3.title.title--xs.offer__title Купи 3 пачки кофе и&nbsp;получи 4-ую в подарок!
          p.offer__term
            | Срок акции: до 
            time(datetime="2021-08-31") 31.08.2021
