.tabs {
  &__container {
    display: flex;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(10px);
    }
  }

  &__item {
    display: inline-block;
    flex: 1;
    grid-column: span 1;
    padding: rem(12.75px) 0;
    font-weight: 600;
    color: var(--color-primary);
    text-align: center;
    text-decoration: none;
    background-color: var(--color-grayer);
    border: 1px solid var(--color-silver);
    border-radius: 5px;
    transition:
      background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;

    @include laptop {
      padding: rem(10px) 0;
      font-size: rem(18px);
    }

    @include tablet {
      padding: rem(14px) 0;
      font-size: rem(20px);
    }

    @include resolution(600px) {
      padding: rem(10px) 0;
      font-size: rem(17px);
    }

    @include mobile {
      font-size: rem(14px);
    }

    &:not(:last-child) {
      margin-right: rem(20px);

      @include tablet {
        margin-right: 0;
      }
    }

    &--active {
      background-color: var(--color-secondary);
      border-color: var(--color-primary);
    }
  }
}

.scroll-tabs {
  position: sticky;
  top: rem(-1px);
  z-index: var(--z-scroll-tabs);
  padding: rem(30px) 0;
  margin: rem(-30px) 0;

  @include tablet {
    padding: rem(15px) 0;
    margin: rem(-15px) 0;
  }

  @include mobile {
    padding: rem(10px) 0;
    margin: rem(-10px) 0;
  }

  &--stucked {
    background-color: var(--color-light);
    box-shadow: 0 5px 20px rgb(157 157 157 / 25%);
  }
}
