mixin counter
  .counter
    input.counter__display(type="number" value="1" min="1" max="99" required)
    input.btn-reset.counter__action.counter__action--decrement(type="button" value="-")
    input.btn-reset.counter__action.counter__action--increment(type="button" value="+")
