.about {
  position: relative;
  padding: rem(194px) 0 rem(130px);
  margin-bottom: rem(58px);
  background-image: url("@images/about-background.jpg");
  background-repeat: no-repeat;
  background-position: left 96%;
  background-size: 100%;

  @include laptop {
    padding: rem(140px) 0 rem(132px);
    background-size: auto;
  }

  @include resolution(600px) {
    padding: rem(100px) 0;
  }

  @include mobile {
    padding: rem(80px) 0;
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__title,
  &__text {
    color: var(--color-light);
  }

  &__title {
    margin-bottom: rem(100px);

    @include laptop {
      margin-bottom: rem(70px);
    }

    @include resolution(560px) {
      margin-bottom: rem(50px);
    }

    @include mobile {
      margin-bottom: rem(30px);
    }
  }

  &__text {
    max-width: rem(1246px);

    @include laptop {
      max-width: rem(882px);
    }

    @include tablet {
      font-size: rem(18px);
    }

    @include resolution(560px) {
      font-size: rem(15px);
    }

    @include mobile {
      font-size: rem(14px);
    }

    &:not(:last-of-type) {
      margin-bottom: rem(30px);

      @include tablet {
        margin-bottom: rem(20px);
      }
    }
  }

  &__link {
    padding: rem(22.75px) rem(68px);
    margin-top: rem(99px);
    text-decoration: none;

    @include laptop {
      padding: rem(16px) rem(50px);
      margin-top: rem(70px);
    }

    @include tablet {
      display: block;
      padding: rem(20px) 0;
      text-align: center;
    }

    @include resolution(560px) {
      margin-top: rem(50px);
    }

    @include mobile {
      padding: rem(18px) 0;
      margin-top: rem(30px);
    }
  }

  .top-wave svg {
    height: rem(225px);

    @include resolution(1100px) {
      height: rem(120px);
    }

    @include tablet {
      height: rem(80px);
    }

    @include resolution(600px) {
      height: rem(40px);
    }
  }

  .bottom-wave svg {
    height: rem(208px);

    @include resolution(1100px) {
      height: rem(100px);
    }

    @include resolution(600px) {
      height: rem(40px);
    }
  }
}
