section.about
  .top-wave
    svg(viewbox="0 0 1904 225" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")
      path(d="M28 34.5L0 39.5V0H369.5H432.5H1904V224.5L1793 206L1614.5 174L1465 145.5L1347 122L1193 92L1061 67L921.5 43L729.5 18L669 11.5L592 5.5L520.5 2L476.5 0.5L432.5 0H369.5L310 2L251.5 6L189 11.5L142.5 17L98.5 23L63.5 28.5L28 34.5Z" fill="#FFF7E1")
  .container.about__container
    h2.title.title--md.about__title Как мы обжариваем наш кофе:
    p.text.text--md.about__text.
      Компания Нью Рефайнинг Груп находится в г. Калининграде и имеет свой склад и представительство 
      в&nbsp;Москве. Завод работает на рынке свежеобжаренного кофе и растворимой продукции более 15 лет. Завод имеет немецкое оборудование марки Probat по обжарке кофе и итальянские агломераторы 
      для&nbsp;производства растворимой продукции.
    p.text.text--md.about__text
      | Кофе поставляется в контейнерах напрямую с плантаций по всему миру. Компания имеет долгосрочные контракты по поставке продукции. Каждая партия проходит строгий контроль на заводе для проверки зерна. Зеленое зерно обжаривается, проходит процесс дегазации и тут же отправляется клиентам. Наши обжарщики прошли обучение в России и за рубежом.
      br
      | У нас свой подход к каждой партии зерна.
    p.text.text--md.about__text.
      Мы раскрываем вкус каждого сорта кофе.
    a.btn.btn-reset.btn--primary.btn--xl.about__link(href="coffee.html")
      | Перейти в каталог
  .bottom-wave
    svg(viewbox="0 0 1904 208" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")
      path(d="M1886 202.5L1904 201.5V208H1686H0V0L14.5 2L85 12L172.5 25L252.5 37.5L326 49L381 58L434 66.5L487 74.5L567.5 88L641 100L767.5 120.5L845.5 132L983 152.5L1027 158.5L1087 166.5L1132 172L1170.5 176.5L1224.5 182.5L1258 185.5L1307.5 190.5L1351 194L1394 197L1436.5 200L1474 202L1535 205L1578.5 206.5L1635.5 207.5L1686 208L1744.5 207.5L1783 207L1849 204.5L1886 202.5Z" fill="white")
