.benefits {
  position: relative;
  padding: rem(86px) 0 rem(95px);
  background-color: var(--color-secondary);

  @include resolution(1100px) {
    padding: rem(36px) 0 rem(80px);
  }

  @include resolution(960px) {
    padding: rem(76px) 0 rem(80px);
  }

  @include tablet {
    padding: rem(36px) 0 rem(75px);
  }

  @include resolution(560px) {
    padding: rem(20px) 0 rem(60px);
  }

  &__container {
    position: relative;
    display: flex;
    align-items: flex-end;
  }

  &__image {
    width: rem(760px);
    margin-right: rem(80px);

    @include resolution(1060px) {
      margin-right: rem(20px);
    }

    @include resolution(960px) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  &__title {
    max-width: rem(585px);
    margin-bottom: rem(80px);

    @include resolution(600px) {
      margin-bottom: rem(60px);
    }
  }

  .top-wave svg {
    height: rem(225px);

    @include resolution(1100px) {
      height: rem(150px);
    }

    @include tablet {
      height: rem(100px);
    }

    @include resolution(560px) {
      height: rem(60px);
    }
  }
}

.benefits-item {
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: rem(60px);
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: rem(84px);
    height: rem(84px);
    margin-right: rem(50px);
    background-color: var(--color-primary);
    border-radius: 100%;

    @include laptop {
      width: rem(60px);
      height: rem(60px);
      margin-right: rem(30px);

      svg {
        width: rem(26px);
        height: rem(26px);
      }
    }

    @include resolution(960px) {
      width: rem(80px);
      height: rem(80px);
      margin-right: rem(40px);

      svg {
        width: rem(33px);
        height: rem(33px);
      }
    }

    @include resolution(560px) {
      width: rem(50px);
      height: rem(50px);
      margin-right: rem(30px);

      svg {
        width: rem(22px);
        height: rem(22px);
      }
    }

    @include mobile {
      margin-right: rem(20px);
    }

    svg {
      width: rem(33px);
      height: rem(33px);
    }
  }

  &__title {
    margin-bottom: rem(19px);
    font-size: rem(30px);
    font-weight: 700;
    color: var(--color-black);

    @include laptop {
      margin-bottom: rem(15px);
      font-size: rem(21px);
    }
  }

  &__description {
    max-width: rem(531px);

    @include resolution(560px) {
      font-size: rem(16px);
    }

    @include mobile {
      font-size: rem(14px);
    }
  }
}
