.catalog {
  margin-bottom: rem(88px);

  &__container {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      background-repeat: no-repeat;
    }

    &::before {
      top: 5px;
      left: -878px;
      z-index: -1;
      width: 1230px;
      height: 1380px;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1230 1380' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M556.543 1271.45C448.013 1252.2 330.882 1303.89 235.653 1240.72C126.826 1168.54 17.3975 1056.05 2.13463 903.699C-13.0132 752.495 103.774 630.284 160.499 490.537C215.645 354.679 228.971 187.166 329.442 97.3435C433.886 3.96871 572.692 -15.7035 696.205 11.6052C813.693 37.5819 895.325 149.271 985.182 242.328C1078.9 339.383 1223.37 411.207 1229.81 564.218C1236.32 718.902 1073.84 806.105 1014.85 946.89C959.107 1079.93 1003.1 1283.04 897.211 1358.03C791.267 1433.05 674.506 1292.36 556.543 1271.45Z' fill='%23F9B300'/%3E%3C/svg%3E%0A");
    }

    &::after {
      top: 524px;
      left: -436px;
      z-index: 0;
      width: 674px;
      height: 674px;
      pointer-events: none;
      background-image: url("@images/blured-beans.png");
    }
  }

  &__title {
    margin-bottom: rem(84px);
  }
}

.catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
}

.catalog-item {
  display: flex;
  flex-direction: column-reverse;
  padding: rem(60px) rem(35px) rem(54px);
  text-align: center;
  background-color: var(--color-light);
  border-radius: 20px;
  outline: none;
  box-shadow: var(--shadow-primary);

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(278px);
    margin-bottom: rem(35px);
    transition: transform 0.3s ease-in-out;
  }

  &__name {
    display: block;
    font-weight: 700;
    color: var(--color-black);
    transition: transform 0.3s ease-in-out;
  }

  &__link {
    display: block;
    padding: rem(15.7px) 0;
    margin-top: rem(20px);
    font-size: rem(25px);
    font-weight: 600;
    text-decoration: none;
    transition:
      opacity 0.3s ease-in-out,
      background-color 0.3s ease-in-out;

    &.focus-visible {
      opacity: 1;

      & ~ .catalog-item__name {
        transform: translateY(-15px);
      }

      & ~ .catalog-item__image {
        transform: translateY(-20px);
      }
    }
  }

  @include is-desktop {
    &:hover & {
      &__image {
        transform: translateY(-20px);
      }

      &__name {
        transform: translateY(-15px);
      }

      &__link {
        visibility: visible;
        opacity: 1;
      }
    }

    &__link {
      opacity: 0;
    }
  }
}
