section.hero
  .container.hero__container
    .swiper.hero-slider
      .hero-pagination
      .swiper-wrapper
        .swiper-slide.hero-slide
          h1.hero-slide__headline Свежеобжаренный кофе
          .hero-slide__text
            p.text.text--md
              | Кофе Калининградской обжарки из разных стран произрастания с доставкой на дом.
            p.text.text--md
              | Мы обжариваем кофе 
              b каждые выходные.
          a.btn.btn-reset.btn--primary.btn--xl.hero-slide__link(href="catalog.html") Посмотреть каталог
        .swiper-slide.hero-slide
          h1.hero-slide__headline Бомбические зерна
          .hero-slide__text
            p.text.text--md
              | Кофе Калининградской обжарки из разных стран произрастания с доставкой на дом.
            p.text.text--md
              | Мы обжариваем кофе 
              b каждые выходные.
          a.btn.btn-reset.btn--primary.btn--xl.hero-slide__link(href="catalog.html") Посмотреть каталог
        .swiper-slide.hero-slide
          h1.hero-slide__headline Вкуснейший чай
          .hero-slide__text
            p.text.text--md
              | Кофе Калининградской обжарки из разных стран произрастания с доставкой на дом.
            p.text.text--md
              | Мы обжариваем кофе 
              b каждые выходные.
          a.btn.btn-reset.btn--primary.btn--xl.hero-slide__link(href="catalog.html") Посмотреть каталог
    a.btn.btn-reset.btn--primary.btn--xl.hero__link(href="catalog.html") Посмотреть каталог
