section.news
  .top-wave
    svg(viewbox="0 0 1906 395" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")
      path(d="M20 357.5L1 354V0.5H1905V163L1553 230L1169 307L851.5 361L811 367L769.5 372L741 375.5L701.5 380L669.5 383L625.5 386.5L587.5 389.5L554 391.5L533 392.5L495.5 394L448.5 394.5H410.5H384.5L331.5 393L284.5 391L251.5 388.5L197 383.5L178 381.5L166 380L157.5 379L146 377.5L131 375.5L117 373.5L103 371.5L90 369.5L71 366.5L53 363.5L36 360.5L20 357.5Z" fill="white")
  .container.news__container
    .news__header
      h2.title.news__title Новости компании
      a.text.news__link(href="blog.html") Читать все
    .news__cards
      .news__row
        .news-item.news-item--big
          .news-item__image
            +image(
              "tanzania-arabica.jpg",
              "Пачка кофе Tanzania Arabica со львом на логотипе"
            )
          .news-item__content
            h4.text.news-item__title
              | Танзанийский кофе. Откуда он взялся и&nbsp;почему мы его так любим?
            p.text.text--small.news-item__text
              | Танзания – красивая африканская страна. Именно здесь расположены легендарные географические объекты – вулкан Килиманджаро и озеро Виктория.
            p.text.text--small.news-item__text
              | Но наш интерес вызван не столько природными красотами, сколько кофе...
            a.text.text--small.news-item__more(href="blog.html") Подробнее
        .news-item
          .news-item__content
            h4.text.news-item__title Африканский кофе Кения АА
            p.text.text--small.news-item__text
              | Кения АА – у этого кофе, из африканской страны, репутация одного из самых вкусных и ярких сортов в мире. Многие обжарщики высоко оценивают местные разновидности высокогорной арабики.
            a.text.text--small.news-item__more(href="blog.html") Подробнее
      .news__row
        .news-item
          .news-item__content
            h4.text.news-item__title Африканский кофе Кения АА
            p.text.text--small.news-item__text
              | Кения АА – у этого кофе, из африканской страны, репутация одного из самых вкусных и ярких сортов в мире. Многие обжарщики высоко оценивают местные разновидности высокогорной арабики.
            a.text.text--small.news-item__more(href="blog.html") Подробнее
        .news-item.news-item--big
          .news-item__image
            +image(
              "tanzania-arabica.jpg",
              "Пачка кофе Tanzania Arabica со львом на логотипе"
            )
          .news-item__content
            h4.text.news-item__title
              | Танзанийский кофе. Откуда он взялся и&nbsp;почему мы его так любим?
            p.text.text--small.news-item__text
              | Танзания – красивая африканская страна. Именно здесь расположены легендарные географические объекты – вулкан Килиманджаро и озеро Виктория.
            p.text.text--small.news-item__text
              | Но наш интерес вызван не столько природными красотами, сколько кофе...
            a.text.text--small.news-item__more(href="blog.html") Подробнее
