.social {
  padding-bottom: rem(163px);
  background-image:
    linear-gradient(
      180deg,
      var(--color-secondary) 0%,
      var(--color-secondary) 38.9999%,
      var(--color-primary) 39%,
      var(--color-primary) 100%
    );

  &__title {
    margin-bottom: rem(45px);

    &::after {
      display: inline-block;
      width: rem(86px);
      height: rem(86px);
      margin-left: rem(53px);
      vertical-align: middle;
      content: "";
      background-image: url("#/instagram-shape");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    padding-left:
      max(
        calc((100% - var(--design-mw)) / 2),
        var(--container-horizontal-offset)
      );
  }

  &__image {
    flex-shrink: 0;
    margin-right: rem(150px);
  }
}

.social-slider {
  $image-width: rem(506px);
  $image-margin: rem(150px);

  width: calc(100% - $image-width - $image-margin);

  &__nav {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: rem(70px);
    height: rem(70px);
    cursor: pointer;
    background-color: var(--color-light);
    background-image: url("#/small-arrow-right-primary");
    background-repeat: no-repeat;
    background-position: center;
    background-size: rem(26px) rem(26px);
    border: none;
    border-radius: 100%;
    transition:
      visibility 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
    transform: translateY(-50%);

    &.swiper-button-disabled {
      visibility: hidden;
      opacity: 0;
    }

    &--prev {
      left: rem(52px);
      transform: translateY(-50%) rotate(180deg);
    }

    &--next {
      right: rem(52px);
    }
  }
}

.social-slide {
  height: rem(382px);
  background-color: #e9e9e9;
  border-radius: 10px;
}
