section.social
  .container
    h2.title.title--md.social__title Мы в Instagram
  .social__wrapper
    .social__image
      +image("big-and-small-phones.png")(aria-hidden="true")
    .social__inner
      button.social-slider__nav.social-slider__nav--prev(aria-label="Слайдер влево")
      .swiper.social-slider
        .swiper-wrapper
          .swiper-slide.social-slide
          .swiper-slide.social-slide
          .swiper-slide.social-slide
          .swiper-slide.social-slide
          .swiper-slide.social-slide
          .swiper-slide.social-slide
          .swiper-slide.social-slide
          .swiper-slide.social-slide
          .swiper-slide.social-slide
          .swiper-slide.social-slide
      button.social-slider__nav.social-slider__nav--next(aria-label="Слайдер вправо")
