include @cmps/Topic/topic

section.education#education
  .container
    h2.title.title--sm.education__title Как сварить кофе в турке:
    +three-paragraphs-topic-without-title({
      url: "cheers-1.jpg",
      alt: "Три друзья собрались, чтобы выпить вкуснейшее кофе, браво стуча стаканами! Еее!"
    })
    +two-paragraphs-topic({
      url: "cheers-2.jpg",
      alt: "Три виды кофе на столе"
    })
    +two-paragraphs-topic({
      url: "cheers-3.jpg",
      alt: "Чашка кофе, в которую наливают молоко"
    })
