@import "@cmps/Topic/topic";

.education {
  padding-bottom: rem(100px);
  margin-bottom: rem(50px);
  border-bottom: 1px solid #b3b3b3;

  @include laptop {
    padding-bottom: rem(80px);
    margin-bottom: rem(30px);
  }

  @include tablet {
    padding-bottom: 0;
    margin-bottom: rem(80px);
    border: none;
  }

  @include mobile {
    margin-bottom: rem(50px);
  }

  &__title {
    margin-bottom: rem(60px);

    @include laptop {
      margin-bottom: rem(40px);
    }

    @include mobile {
      margin-bottom: rem(30px);
    }
  }
}
