include @cmps/Accordion/accordion

section.faq#faq
  .top-wave
    svg(viewbox="0 0 1904 225" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")
      path(d="M1847.5 10L1904 0H0V184L11.5 186.5L80.5 198L154 208.5L214 214.5L282.5 220L419 224.5L508 222.5L589 219L651.5 214L727.5 207L801.5 198.5L878 188L949 177L1063 157.5L1148 142L1240 124L1312.5 109.5L1381.5 95.5L1467.5 79C1486.83 75.1667 1525.6 67.5 1526 67.5C1526.4 67.5 1566.83 59.8333 1587 56L1619.5 50L1677 40L1744 28L1785.5 20.5L1825 14L1847.5 10Z" fill="white")
  .container.faq__container
    h2.title.title--sm.faq__title Частые вопросы:
    .faq__wrapper
      +accordion([
        {
          title: "Чем вы отличаетесь от конкурентов? Почему мне стоит выбрать вас?",
          text: "Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации систем массового участия. Таким образом укрепление и развитие структуры способствует подготовки и реализации направлений прогрессивного развития"
        },
        {
          title: "Что мы продаем?",
          text: "Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации систем массового участия. Таким образом укрепление и развитие структуры способствует подготовки и реализации направлений прогрессивного развития"
        },
        {
          title: "Какие у нас есть виды кофе?",
          text: "Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации систем массового участия. Таким образом укрепление и развитие структуры способствует подготовки и реализации направлений прогрессивного развития"
        },
        {
          title: "Какие у вас цены?",
          text: "Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации систем массового участия. Таким образом укрепление и развитие структуры способствует подготовки и реализации направлений прогрессивного развития"
        },
        {
          title: "Как купить дешевше?",
          text: "Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации систем массового участия. Таким образом укрепление и развитие структуры способствует подготовки и реализации направлений прогрессивного развития"
        }
      ])
  .bottom-wave
    svg(viewbox="0 0 1904 224" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")
      path(d="M1855.5 216L1904 224H0V40L28 34L143 16.5L252 4.5L329.5 0H433L559.5 4.5L688 12.5L816 27.5L946.5 47L1195.5 91L1410.5 134.5L1516 155L1638 177.5L1713 191L1769 201L1807.5 208L1855.5 216Z" fill="white")
