include @cmps/Article/article

section.news#news
  .container
    .news__top
      h2.title.title--sm.news__title Новости:
      .swiper.news-tags
        .swiper-wrapper.news-tags__wrapper
          button.swiper-slide.btn.btn-reset.news-tags__item.news-tags__item--active Тег №1
          button.swiper-slide.btn.btn-reset.news-tags__item Тег №2
          button.swiper-slide.btn.btn-reset.news-tags__item Тег №3
          button.swiper-slide.btn.btn-reset.news-tags__item Тег №4
          button.swiper-slide.btn.btn-reset.news-tags__item Тег №5
    .news__wrapper
      +article-with-author
      +article-with-author
      +article-with-author
    include @cmps/More/more
