@import "../mixins";

// Libs

@import "swiper/swiper";
@import "swiper/modules/effect-fade/effect-fade";
@import "swiper/modules/grid/grid";

// Components

@import "@cmps/Header/header";
@import "@cmps/Subscribe/subscribe";
@import "@cmps/Footer/footer";

// Sections

@import "@partials/index/hero";
@import "@partials/index/catalog";
@import "@partials/index/sales";
@import "@partials/index/benefits";
@import "@partials/index/about";
@import "@partials/index/news";
@import "@partials/index/social";

.header {
  background-color: transparent;
  box-shadow: none;

  &:focus-within {
    background-color: var(--color-light);
    box-shadow: 0 5px 20px rgb(157 157 157 / 25%);
  }

  &__container::after {
    position: absolute;
    top: -313px;
    right: -835px;
    z-index: -1;
    display: block;
    width: 1443px;
    height: 1740px;
    pointer-events: none;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1444 1740' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M846.646 156.114C968.951 188.2 1108.59 132.457 1211.03 218.335C1328.09 316.478 1441.59 464.929 1443.01 656.09C1444.41 845.81 1297.73 989.54 1218 1159.62C1140.5 1324.96 1107.56 1532.9 982.984 1637.45C853.481 1746.13 692.386 1760.33 553.766 1717.07C421.909 1675.91 340.168 1530.53 247.04 1407.77C149.912 1279.73 -8.02012 1179.39 0.737113 988.062C9.59009 794.645 204.937 697.983 287.364 526.781C365.257 364.996 336.279 108.39 465.498 22.749C594.784 -62.9363 713.71 121.239 846.646 156.114Z' fill='%23F9B300'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: top right;

    @include laptop {
      top: -190px;
      right: -510px;
      width: 968px;
      height: 1197px;
    }

    @include resolution(900px) {
      top: 0;
      right: -420px;
      width: 736px;
      height: 912px;
    }

    @include tablet {
      right: -300px;
      height: 740px;
    }

    @include resolution(630px) {
      width: 453px;
      height: 561px;
      transform: rotate(-3deg);
    }

    @include resolution(500px) {
      right: -270px;
      width: 400px;
      height: 503px;
    }
  }

  @include is-desktop {
    &:hover {
      background-color: var(--color-light);
      box-shadow: 0 5px 20px rgb(157 157 157 / 25%);
    }
  }

  @include resolution(900px) {
    background-color: var(--color-light);
    box-shadow: 0 5px 20px rgb(157 157 157 / 25%);
  }
}
