@import "../mixins";

// Components

@import "@cmps/Header/header";
@import "@cmps/Breadcrumbs/breadcrumbs";
@import "@cmps/Subscribe/subscribe";
@import "@cmps/Footer/footer";

// Sections

@import "@partials/profile/user";
@import "@partials/profile/orders";
@import "@partials/profile/offers";

.breadcrumbs {
  background-color: var(--color-secondary);
}

.subscribe .bottom-wave {
  top: 0;
  bottom: auto;
  z-index: -1;
  transform: translateY(-100%);

  svg {
    height: rem(207px);

    @include laptop {
      height: rem(150px);
    }

    @include resolution(900px) {
      height: rem(100px);
    }

    @include resolution(630px) {
      height: rem(80px);
    }

    @include mobile {
      height: rem(50px);
    }
  }
}
