@import "../mixins";

// Components

@import "@cmps/Header/header";
@import "@cmps/PageBanner/banner";
@import "@cmps/Proposition/proposition";
@import "@cmps/ProductsList/list";
@import "@cmps/Product/product";
@import "@cmps/Subscribe/subscribe";
@import "@cmps/Footer/footer";

.proposition__container::after {
  top: rem(-308px);
  right: rem(-230px);
  width: rem(819px);
  height: rem(655px);
  background-image: url("@images/teapot-with-cups-and-leaves.png");

  @include resolution(1540px) {
    top: rem(-180px);
    right: rem(-160px);
    width: rem(650px);
  }

  @include laptop {
    top: rem(-145px);
    right: rem(-150px);
    width: rem(500px);
  }

  @include resolution(1100px) {
    top: rem(-180px);
    right: rem(-180px);
  }

  @include tablet {
    top: rem(-490px);
    right: rem(-40px);
    width: rem(580px);
  }

  @include resolution(600px) {
    top: rem(-420px);
    width: rem(500px);
  }

  @include mobile {
    top: rem(-270px);
    width: rem(320px);
  }
}
