@use "sass:math";

@mixin font($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    src:
      url("#{$file-path}.woff2") format("woff2"),
      url("#{$file-path}.woff") format("woff");
    font-display: swap;
  }
}

@function rem($value) {
  @return math.div($value, 16px) * 1rem;
}

@function em($current-value, $parent-value: 16px) {
  @return math.div($current-value, $parent-value) * 1em;
}

// Media Queries

@mixin resolution($px) {
  @media (max-width: em($px)) {
    @content;
  }
}

@mixin is-desktop {
  @media (hover: hover) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: em(1350px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: em(768px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: em(375px)) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: em(320px)) {
    @content;
  }
}
