:root {
  // Colors

  --color-black: #000;
  --color-light: #fff;
  --color-primary: #f9b300;
  --color-secondary: #fff7e1;
  --color-dark: #222;
  --color-gray: #c9c9c9;
  --color-cork: #40241d;
  --color-wild-sand: #f5f5f5;
  --color-grayer: #f6f6f6;
  --color-mercury: #e4e4e4;
  --color-silver: #c9c9c9;
  --color-alabaster: #fcfcfc;
  --color-boulder: #747474;

  // Offsets

  --container-horizontal-offset: #{em(20px)};
  --design-mw: #{em(1660px)};
  --mw: calc(var(--design-mw) + var(--container-horizontal-offset) * 2);
  --grid-gap: #{em(20px)};

  // Fonts

  --font-family: "Gilroy", sans-serif;

  // Shades

  --shadow-primary: 0 0 30px rgb(146 146 146 / 20%);

  // Z-indexes

  --z-header: 100;
  --z-scroll-tabs: 200;
  --z-loader: 300;
  --z-burger: 1000;
}

@include laptop {
  :root {
    --design-mw: #{em(1180px)};
  }
}
