include @cmps/Rating/rating

mixin comment
  .comment
    .comment__content
      .comment__row
        .comment__column
          q.comment__quote Отличный вкус!
          +rating-without-text
        .comment__column
          p.comment__date 21.12.2020
      p.text.text--sm.comment__text
        | Товарищи! реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации.
    .comment-user
      .comment-user__avatar
        +image("user-avatar.jpg", "Аватар пользователя Ирина")
      .comment-user__info
        p.comment-user__name Ирина
        address.comment-user__location г. Москва
