.more {
  width: 100%;
  padding: rem(18px) 0;
  font-size: rem(20px);
  font-weight: 500;
  color: var(--color-black);
  background-color: var(--color-light);
  border: 1px solid var(--color-mercury);
  border-radius: 10px;

  @include tablet {
    padding: rem(14px) 0;
    font-size: rem(16px);
  }

  @include mobile {
    padding: rem(12px) 0;
  }
}
