include @cmps/Radio/radio
include @cmps/Beans/beans

mixin filter-extent
  .filter-extent
    .filter-extent__wrapper
      h3.filter-extent__title Степень обжарки
      fieldset
        +radio("Степень обжарки - 5")(name="extent" value="5")
          +beans
        +radio("Степень обжарки - 4")(name="extent" value="4")
          +beans(4)
        +radio("Степень обжарки - 3")(name="extent" value="3")
          +beans(3)
        +radio("Степень обжарки - 2")(name="extent" value="2")
          +beans(2)
        +radio("Степень обжарки - 1")(name="extent" value="1")
          +beans(1)

mixin filter-options
  .filter-options
    .filter-options__wrapper
      .filter-options__column
        fieldset.filter-option
          h4.text.text--md.filter-option__title География
          +radio("Локация - Африка")(name="geography" value="Африка")
            | Африка
          +radio("Локация - Йемен")(name="geography" value="Йемен")
            | Йемен
          +radio("Локация - Уганда")(name="geography" value="Уганда")
            | Уганда
          +radio("Локация - Эфиопия")(name="geography" value="Эфиопия")
            | Эфиопия
          +radio("Локация - Азия")(name="geography" value="Азия")
            | Азия
          +radio("Локация - Центральная Америка")(name="geography" value="Центральная Америка")
            | Центр. Америка
          +radio("Локация - Латинская Америка")(name="geography" value="Латинская Америка")
            | Лат. Америка
      .filter-options__column
        fieldset.filter-option
          h4.text.text--md.filter-option__title Кислинка
          +radio("Степень кислости - низкая")(name="acid" value="Низкая")
            | Низкая
          +radio("Степень кислости - средняя")(name="acid" value="Средняя")
            | Средняя
          +radio("Степень кислости - высокая")(name="acid" value="Высокая")
            | Высокая
        fieldset.filter-option
          h4.text.text--md.filter-option__title Способ обработки
          +radio("Способ обработки - сухой")(name="method" value="Сухая")
            | Сухая
          +radio("Способ обработки - мытый")(name="method" value="Мытая")
            | Мытая
          +radio("Способ обработки - прочий")(name="method" value="Прочие")
            | Прочие
      .filter-options__column
        fieldset.filter-option
          h4.text.text--md.filter-option__title Особые
          +radio("Категория - Популярное")(name="category" value="Популярное")
            | Популярное
          +radio("Категория - Новый урожай")(name="category" value="Новый урожай")
            | Новый урожай
          +radio("Категория - Ваш выбор")(name="category" value="Ваш выбор")
            | Ваш выбор
          +radio("Категория - Микролот")(name="category" value="Микролот")
            | Микролот
          +radio("Категория - Сорт недели")(name="category" value="Сорт недели")
            | Сорт недели
          +radio("Категория - Скидки")(name="category" value="Скидки")
            | Скидки
          +radio("Категория - Новинка")(name="category" value="Новинка")
            | Новинка
      .filter-options__column
        fieldset.filter-option
          h4.text.text--md.filter-option__title Вид кофе
          +radio("Вид кофе - Арабика")(name="kind-of-coffee" value="Арабика")
            | Арабика
          +radio("Вид кофе - Робуста")(name="kind-of-coffee" value="Робуста")
            | Робуста
          +radio("Вид кофе - Смесь арабик")(name="kind-of-coffee" value="Смесь арабик")
            | Смесь арабик
          +radio("Вид кофе - Смесь арабика/робуста")(name="kind-of-coffee" value="Смесь арабика/робуста")
            | Смесь арабика/робуста

mixin filter-types
  .filter-types
    .filter-type
      input(type="radio" name="type" aria-labelledby="turka" checked)
      .filter-type__visual
        h5.text.text--sm#turka Турка
        +icon("turka")
    .filter-type
      input(type="radio" name="type" aria-labelledby="french-press")
      .filter-type__visual
        h5.text.text--sm#french-press Френч-пресс
        +icon("french-press")
    .filter-type
      input(type="radio" name="type" aria-labelledby="moka")
      .filter-type__visual
        h5.text.text--sm#moka Мока
        +icon("moka")
    .filter-type
      input(type="radio" name="type" aria-labelledby="espresso")
      .filter-type__visual
        h5.text.text--sm#espresso Эспрессо
        +icon("espresso")
    .filter-type
      input(type="radio" name="type" aria-labelledby="funnel")
      .filter-type__visual
        h5.text.text--sm#funnel Воронка
        +icon("funnel")
    .filter-type
      input(type="radio" name="type" aria-labelledby="aero-press")
      .filter-type__visual
        h5.text.text--sm#aero-press Аэропресс
        +icon("aero-press")
    .filter-type
      input(type="radio" name="type" aria-labelledby="cup-with-smoke")
      .filter-type__visual
        h5.text.text--sm#cup-with-smoke Чашка
        +icon("cup-with-smoke")
    .filter-type
      input(type="radio" name="type" aria-labelledby="vending")
      .filter-type__visual
        h5.text.text--sm#vending Автомат
        +icon("vending")

//- Section

mixin filter-section
  section.filter
    .container
      form.filter-form
        +filter-extent
        +filter-options
        +filter-types
