mixin one-paragraph-topic({ title = "Название темы", url, alt })
  article.topic
    h2.title.title--sm.topic__title= title
    .topic__text
      p.text.text--md
        | Разнообразный и богатый опыт новая модель организационной деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание модели развития.
    .topic__image
      +image(url, alt)

mixin two-paragraphs-topic({ title = "Название темы", url, alt })
  article.topic
    h2.title.title--sm.topic__title= title
    .topic__text
      p.text.text--md
        | Разнообразный и богатый опыт новая модель организационной деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание модели развития.
      p.text.text--md
        | Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации систем массового участия. Таким образом укрепление и развитие структуры способствует подготовки и реализации направлений прогрессивного развития.
    .topic__image
      +image(url, alt)


mixin three-paragraphs-topic({ title = "Название темы", url, alt })
  article.topic
    h2.title.title--sm.topic__title= title
    .topic__text
      p.text.text--md
        | Разнообразный и богатый опыт новая модель организационной деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание модели развития.
      p.text.text--md
        | Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации систем массового участия. Таким образом укрепление и развитие структуры способствует подготовки и реализации направлений прогрессивного развития.
      p.text.text--md
        | Товарищи! реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. С другой стороны реализация намеченных плановых заданий требуют от нас анализа существенных финансовых и административных условий.
    .topic__image
      +image(url, alt)

mixin three-paragraphs-topic-without-title({ url, alt })
  article.topic
    .topic__text
      p.text.text--md
        | Разнообразный и богатый опыт новая модель организационной деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание модели развития.
      p.text.text--md
        | Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации систем массового участия. Таким образом укрепление и развитие структуры способствует подготовки и реализации направлений прогрессивного развития.
      p.text.text--md
        | Товарищи! реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. С другой стороны реализация намеченных плановых заданий требуют от нас анализа существенных финансовых и административных условий.
    .topic__image
      +image(url, alt)
