nav.nav
  ul.list-reset.nav__list
    li.nav__item
      a.text.text--md(href="index.html#catalog") Каталог товаров
    li.nav__item
      a.text.text--md(href="blog.html") Блог
    li.nav__item
      a.text.text--md(href="contacts.html") Контакты
