nav.nav
  ul.list-reset.nav__list
    li.nav__item
      a.text(href="catalog.html") Каталог товаров
    li.nav__item
      a.text(href="blog.html") Блог
    li.nav__item
      a.text(href="contacts.html") Контакты
