@import "@cmps/Select/select";
@import "@cmps/Rating/rating";
@import "@cmps/Beans/beans";
@import "@cmps/Char/char";

.product {
  padding: rem(25px) rem(38px) rem(52px) rem(41px);
  background-color: var(--color-light);
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(146 146 146 / 25%);

  @include laptop {
    padding: rem(14px) rem(25px) rem(36px);
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: rem(50px);

    @include laptop {
      margin-bottom: rem(30px);
    }
  }

  &__types {
    margin-bottom: -100%;

    span {
      display: block;
      font-weight: 700;
      color: var(--color-primary);

      &:not(:last-child) {
        margin-bottom: rem(6px);
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(33px);

    @include laptop {
      margin-bottom: rem(25px);
    }
  }

  &__image {
    width: rem(152px);
    aspect-ratio: 1 / 2;
    margin-right: rem(15px);

    @include laptop {
      width: rem(120px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__options {
    padding-top: rem(18px);
  }

  &__name {
    margin-bottom: rem(10px);
    font-weight: 900;

    @include laptop {
      margin-bottom: rem(8px);
    }
  }

  &__description {
    max-width: rem(269px);
    margin-bottom: rem(30px);
    line-height: 1.16;
    color: var(--color-dark);

    @include laptop {
      max-width: rem(183px);
      margin-bottom: rem(20px);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__cta {
    padding: rem(13.5px) rem(47px);
    font-size: rem(18px);
    font-weight: 600;
    text-decoration: none;

    @include laptop {
      padding: rem(10px) rem(35px);
      font-size: rem(12px);
    }
  }

  .rating {
    margin-bottom: rem(29px);

    @include laptop {
      margin-bottom: rem(18px);
    }
  }

  .beans {
    margin-bottom: rem(25px);
  }

  .char:not(:last-child) {
    margin-bottom: rem(15px);
  }
}

.product-price {
  position: relative;

  &__old {
    position: absolute;
    top: rem(-27px);
    color: #c6c6c6;

    @include laptop {
      top: rem(-20px);
      font-size: rem(18px);
    }
  }

  &__current {
    font-size: rem(35px);
    font-weight: 900;
    color: var(--color-dark);
    text-decoration: none;

    @include laptop {
      font-size: rem(24px);
    }
  }
}

// Product variants

.product--sale {
  .sales-sign {
    position: relative;
    font-weight: 700;
    color: var(--color-primary);
    transform: translateY(26px);

    @include laptop {
      font-size: rem(12px);
      transform: translateY(20px);
    }

    &::before {
      position: absolute;
      top: rem(-86px);
      left: rem(-2px);
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(70px);
      height: rem(70px);
      font-size: rem(35px);
      color: var(--color-black);
      content: "%";
      background-color: var(--color-primary);
      border-radius: 100%;
      box-shadow: 0 0 10px rgb(146 146 146 / 25%);

      @include laptop {
        top: rem(-60px);
        width: rem(50px);
        height: rem(50px);
        font-size: rem(25px);
      }
    }
  }
}

.product--wide {
  .product__header {
    margin-bottom: 0;
  }

  .product__content {
    justify-content: center;
    margin-bottom: rem(20px);
  }

  .product__image {
    width: initial;
    aspect-ratio: initial;

    @include laptop {
      width: rem(180px);
    }

    img {
      width: 100%;
    }
  }
}
