include @cmps/Select/select
include @cmps/Rating/rating
include @cmps/Beans/beans
include @cmps/Char/char

mixin product-popular-new
  article.product&attributes(attributes)
    .product__header
      .product__types
        span.text.text--xs Популярное
        span.text.text--xs Новый урожай
      +select(0, ["250 г.", "500 г.", "750 г.", "1 кг."])
    .product__content
      .product__image
        +image("products/colombia-supremo.jpg", "Пакет кофе, на котором логотип с надписью Ethiopia Yirgachefee и картинка с козлом на фоне гор")
      .product__options
        +rating
        +beans
        .product-chars
          +char("Кислинка")
          +char("Горчинка")
          +char("Насыщенность")
    .product__info
      h4.text.product__name Colombia Supremo
      p.text.text--xs.product__description Свежеобжаренный кофе - описание товара, вкус, аромат
      .product__wrapper
        .product-price
          ins.product-price__current 250 &#8381;
        button.btn.btn-reset.btn--primary.product__cta В корзину

mixin product-with-sales
  article.product.product--sale&attributes(attributes)
    .product__header
      span.text.text--xs.sales-sign Скидки
      +select(0, ["250 г.", "500 г.", "750 г.", "1 кг."])
    .product__content
      .product__image
        +image("products/colombia-supremo.jpg", "Пакет кофе, на котором логотип с надписью Ethiopia Yirgachefee и картинка с козлом на фоне гор")
      .product__options
        +rating
        +beans
        .product-chars
          +char("Кислинка")
          +char("Горчинка")
          +char("Насыщенность")
    .product__info
      h4.text.product__name Colombia Supremo
      p.text.text--xs.product__description Свежеобжаренный кофе - описание товара, вкус, аромат
      .product__wrapper
        .product-price
          del.text.product-price__old 350 &#8381;
          ins.product-price__current 250 &#8381;
        button.btn.btn-reset.btn--primary.product__cta В корзину

mixin product-without-options(image)
  article.product.product--wide&attributes(attributes)
    .product__header
      +rating
      +select(0, ["100 г.", "500 г."])
    .product__content
      .product__image
        +image(image.url, image.alt)
    .product__info
      h4.text.product__name Наименование товара
      p.text.text--xs.product__description Описание товара
      .product__wrapper
        .product-price
          ins.product-price__current 250 &#8381;
        button.btn.btn-reset.btn--primary.product__cta В корзину
