section.content#contacts(data-active="true")
  .container.content__container
    .content__items
      .content-item
        h4.title.title--xs.content-item__title Связаться с нами:
        address.content-item__info
          a.text.text--sm(href="tel:+74012375343") +7 (401) 237 53 43
          a.text.text--sm(href="mailto:Import@kldrefine.com") Import@kldrefine.com
      .content-item
        h4.title.title--xs.content-item__title Юридический адрес:
        address.content-item__info
          p.text.text--sm Российская, Федерация, 238310, Калининградская область, Гурьевский район, поселок Васильково, улица Шатурская, дом 4А
      .content-item
        h4.title.title--xs.content-item__title Адрес склада:
        address.content-item__info
          p.text.text--sm Московская область, Балашиха, Западная промзона, Шоссе энтузиастов 1
    .content__map
