section.content#shops
  .container.content__container
    .content__items
      .content-item
        h4.title.title--xs.content-item__title Наши магазины г. Санкт-Петербург
        address.content-item__info
          p.text.text--sm Гороховая, 53
          p.text.text--sm Московский, 53
      .content-item
        h4.title.title--xs.content-item__title Наши магазины Калининградская обл.
        address.content-item__info
          p.text.text--sm Советск, Гончарова 2а
          p.text.text--sm Черняховск, Пионерская 1
          p.text.text--sm Ульяны-Громовой 15
          p.text.text--sm Советский проспект 6а
          p.text.text--sm Гурьевск, Каштановая 1г
          p.text.text--sm Черняховского 15
          p.text.text--sm Панина 2а
          p.text.text--sm Ленинский 8Б
          p.text.text--sm Аксакова 133
          p.text.text--sm Липовая Аллея 2
    .content__map
