mixin products-list
  .products&attributes(attributes)
    .container.products__container
      include @cmps/Sort/sort
      .products__wrapper
        include @cmps/Loader/loader
      include @cmps/More/more
