@import "@cmps/Logo/logo";
@import "@cmps/Navigation/nav";
@import "@cmps/Actions/actions";
@import "@cmps/Burger/burger";

.header {
  position: relative;
  padding: rem(41px) 0;
  background-color: var(--color-light);
  box-shadow: 0 5px 20px rgb(157 157 157 / 25%);
  transition:
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  @include tablet {
    padding: rem(30px) 0;
  }

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: rem(230px) 1fr rem(230px);
    align-items: center;

    @include laptop {
      grid-template-columns: rem(170px) 1fr rem(170px);
    }

    @include resolution(900px) {
      grid-template-columns: rem(135px) 1fr rem(135px);
    }

    @include tablet {
      grid-template-columns: rem(50px) 1fr rem(170px);
    }

    @include resolution(500px) {
      grid-template-columns: rem(35px) 1fr rem(131px);
    }

    @include mobile {
      grid-template-columns: rem(30px) 1fr rem(109px);
    }
  }

  &__container > .nav {
    justify-self: center;

    @include tablet {
      display: none;
    }

    .nav__item {
      &:not(:last-child) {
        @include laptop {
          margin-right: rem(65px);
        }

        @include resolution(900px) {
          margin-right: rem(45px);
        }
      }
    }
  }

  &__container > .logo {
    @include laptop {
      width: rem(157px);
      height: rem(45px);
    }

    @include resolution(900px) {
      width: rem(135px);
      height: rem(40px);
    }

    @include tablet {
      justify-self: center;
      width: rem(150px);
      height: rem(45px);
    }

    @include resolution(500px) {
      width: rem(125px);
      height: rem(35px);
    }

    @include mobile {
      width: rem(110px);
      height: rem(30px);
    }
  }

  &__container > .actions {
    justify-self: flex-end;

    .actions__item {
      @include laptop {
        width: rem(30px);
        height: rem(30px);
      }

      @include resolution(900px) {
        width: rem(25px);
        height: rem(25px);
      }

      @include tablet {
        width: rem(30px);
        height: rem(30px);
      }

      @include resolution(500px) {
        width: rem(25px);
        height: rem(25px);
      }

      &:not(:last-child) {
        @include laptop {
          margin-right: rem(40px);
        }

        @include resolution(900px) {
          margin-right: rem(30px);
        }

        @include tablet {
          margin-right: rem(40px);
        }

        @include resolution(500px) {
          margin-right: rem(25px);
        }

        @include mobile {
          margin-right: rem(17px);
        }
      }
    }
  }
}
