include @cmps/Burger/burger

header.header
  +burger-menu
  .container.header__container
    +burger-open-button
    include @cmps/Logo/logo
    include @cmps/Navigation/nav
    include @cmps/Actions/actions
