@import "@cmps/Topic/topic";

.addition {
  margin-bottom: rem(150px);

  @include laptop {
    margin-bottom: rem(100px);
  }

  @include tablet {
    margin-bottom: rem(70px);
  }

  @include mobile {
    margin-bottom: rem(40px);
  }

  &__title {
    margin-bottom: rem(60px);

    @include laptop {
      margin-bottom: rem(40px);
    }

    @include mobile {
      margin-bottom: rem(30px);
    }
  }
}
