include @cmps/Topic/topic

section.addition#addition
  .container
    h2.title.title--sm.addition__title Дополнительно
    +three-paragraphs-topic-without-title({
      url: "cheers-1.jpg",
      alt: "Три друзья собрались, чтобы выпить вкуснейшее кофе, браво стуча стаканами! Еее!"
    })
    +three-paragraphs-topic({
      url: "cheers-2.jpg",
      alt: "Три виды кофе на столе"
    })
    +three-paragraphs-topic({
      url: "cheers-3.jpg",
      alt: "Чашка кофе, в которую наливают молоко"
    })


