section.description#description
  .container
    .description__wrapper
      .description-taste
        h4.description__title Вкус
        dl.description-taste__list
          .description-taste__item
            dd.description-taste__icon
              +icon("moka")
            dt.text.text--md.description-taste__name Шоколад
          .description-taste__item
            dd.description-taste__icon
              +icon("moka")
            dt.text.text--md.description-taste__name Яблоко
          .description-taste__item
            dd.description-taste__icon
              +icon("moka")
            dt.text.text--md.description-taste__name Какао
      .description-chars
        h4.description__title Характеристики
        dl.description-chars__list
          .description-chars__item
            dt.description-chars__name Арабика:
            dd.text.text--md.description-chars__text
              | Кот Бразилио, Перу гр.2, Эфиопия Сидамогр.4 Премиум Амхара Айеху
          .description-chars__item
            dt.description-chars__name Робуста:
            dd.text.text--md.description-chars__text
              | мытая Индия, сухой Вьетнам
          .description-chars__item
            dt.description-chars__name Способ обработки:
            dd.text.text--md.description-chars__text
              | мытая, сухая
          .description-chars__item
            dt.description-chars__name Вид кофе:
            dd.text.text--md.description-chars__text
              | cмесь арабика/робуста
    .description__content
      .description__text
        p.text.text--md
          | Разнообразный и богатый опыт новая модель организационной деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание модели развития.
        p.text.text--md
          | Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации систем массового участия. Таким образом укрепление и развитие структуры способствует подготовки и реализации направлений прогрессивного развития.
        p.text.text--md
          | Товарищи! реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. С другой стороны реализация намеченных плановых заданий требуют от нас анализа существенных финансовых и административных условий.
      .description__image
        +image("coffee-beans.jpg")(aria-hidden="true")
