include @cmps/Beans/beans
include @cmps/Rating/rating
include @cmps/Char/char
include @cmps/Radio/radio
include @cmps/Counter/counter

//- On mobile

include @cmps/TextMore/more
include @cmps/Select/select

section.overlay
  .container.overlay__container
    include @cmps/Loader/loader
  .bottom-wave
    svg(viewbox="0 0 1909 265" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")
      path(d="M0 157V265H1909L1871 256.5L1814.5 244L1763.5 232L1700.5 217.5L1603 194.5L1514.5 172.5L1425.5 149.5L1330 123.5L1233 97.5L1146 74.5L1054.5 52.5L985 37L927.5 26L878.5 18.5L826 11.5L790.5 7.5L740 3L690.5 0.5L653.5 0L601.5 1.5L557 4L498.5 10L467 14.5L439 19.5L377 32L310.5 49.5L219 77L133 107L39.5 142L0 157Z" fill="white")
          