@import "@cmps/Comment/comment";
@import "@cmps/More/more";

.reviews {
  position: relative;
  padding-bottom: rem(100px);
  background-color: var(--color-wild-sand);

  &__container {
    position: relative;
  }

  &__title {
    margin-bottom: rem(100px);
  }

  &__wrapper {
    margin-bottom: rem(50px);
  }

  .comment:not(:last-child) {
    margin-bottom: rem(70px);
  }

  .top-wave {
    position: absolute;
    top: 0;
    width: 100%;

    svg {
      display: block;
      width: inherit;
      height: rem(203px);
    }
  }
}
