.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    color: var(--color-dark);

    &:not(:first-child)::before {
      display: inline-block;
      width: rem(4px);
      height: rem(4px);
      margin: 0 rem(5px);
      vertical-align: middle;
      content: "";
      background-color: currentcolor;
      border-radius: 100%;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
