mixin proposition(data, spaceIndex = 3)
  .proposition
    .container.proposition__container
      each item, index in data
        if index === spaceIndex
          div
        figure.proposition-item
            .proposition-item__image
              +image(item.image.url, item.image.alt)
            figcaption.text.text--md.proposition-item__text= item.name
