extends layouts/page

include @cmps/PageBanner/banner
include @cmps/Filter/filter
include @cmps/ProductsList/list
include @cmps/Product/product
include @cmps/Subscribe/subscribe

block config
  - page.title = "Millo - Кофе"

block styles
  +style("styles/coffee.css")

block partials
  include @cmps/Header/header
  main
    +banner(
      "Свежеобжаренный кофе",
      [
        {
          name: "Главная",
          path: "/index.html"
        },
        {
          name: "Каталог товаров",
          path: "/index.html#catalog"
        },
        {
          name: "Свежеобжаренный кофе",
          path: "coffee.html"
        }
      ]
    )
    +filter-section
    +products-list(data-type="0")
      +product-with-sales
      +product-with-sales
      +product-with-sales
      +product-with-sales
      +product-with-sales
      +product-with-sales
      +product-with-sales
      +product-with-sales
      +product-with-sales
      +product-with-sales
      +product-with-sales
      +product-with-sales
    +subscribe
  include @cmps/Footer/footer

block scripts
  +script("scripts/coffee.js")
