extends layouts/page

include @cmps/Subscribe/subscribe
include @cmps/Tabs/tabs

block config
  - page.title = "Millo - Colombia Supremo"

block styles
  +style("styles/product.css")

block partials
  include @cmps/Header/header
  main
    include @partials/product/overlay
    +scroll-tabs([
      {
        name: "Описание",
        path: "#description"
      },
      {
        name: "Как готовить?",
        path: "#how-to-cook"
      },
      {
        name: "Дополнительно",
        path: "#addition"
      },
      {
        name: "Отзывы",
        path: "#reviews"
      }
    ])
    include @partials/product/description
    include @partials/product/how
    include @partials/product/addition
    include @partials/product/reviews
    +subscribe
  include @cmps/Footer/footer

block scripts
  +script("scripts/product.js")
