.actions
  button.btn-reset.search-button.actions__item(aria-label="Открыть поиск по сайту")
    +icon("search")
  a.actions__item(href="cart.html" aria-label="Страница корзины")
    +icon("basket")
  a.actions__item(href="profile.html" aria-label="Страница профиля")
    +icon("profile")
  