.actions
  button.btn-reset.actions__item#search-button(aria-label="Открыть поиск по сайту")
    +icon("search")
  a.actions__item(href="cart.html" aria-label="Страница корзины")
    +icon("basket")
  a.actions__item(href="profile.html" aria-label="Страница профиля")
    +icon("profile")
  